@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'invitation';
    src: url("/fonts/Boheme-Floral.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
}